<div class="container">
  <div class="border border-secondary menu">
    <span class="selected">Всё подряд</span>
    <span>Новости</span>
    <span>Посты</span>
  </div>

  <div class="news-container">
    <news
      title="Заголовок первой новости"
      description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, quae!"
      imgUrl="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQrhmgXe8zn0htM-sLnsM3QpL-FVpMoVTX2ss7lIyb4skSN75B3">
    </news>

    <news
      title="Заголовок второй новости"
      description=" Lorem ipsum dolor sit amet, consectetur."
      imgUrl="https://ranobehub.org/img/media/102868/ezgif.com-gif-maker-3.gif">
    </news>

    <news
      title="Заголовок третьей новости"
      description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius molestias officiis ut?"
      imgUrl="https://cdn-st1.rtr-vesti.ru/vh/pictures/xw/210/625/3.jpg">
    </news>

    <news
      title="Заголовок третьей новости"
      description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda at consectetur cum dolore doloremque dolorum eligendi, est explicabo id impedit necessitatibus perspiciatis quasi quis quos recusandae totam voluptate! Eos?"
      imgUrl="https://cdn-st1.rtr-vesti.ru/vh/pictures/xw/210/625/3.jpg">
    </news>
  </div>

</div>
