<nav class="navbar navbar-expand-lg navbar-light bg-light layout">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1 title"
       routerLink="{{buttons['converter'].routerLink}}"
       (click)="onButtonClick('converter')">
      Currency converter
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item"
            *ngFor="let id of mainButtonsId">
          <a class="nav-link"
             [ngClass]="buttons[id].selected ? 'active' : ''"
             routerLink="{{buttons[id].routerLink}}"
             (click)="onButtonClick(id)">
            {{buttons[id].label}}
          </a>
        </li>
      </ul>
    </div>
    <a class="nav-link mb-0 end"
       [ngClass]="buttons['login'].selected ? 'link-dark' : 'link-secondary'"
       routerLink="{{buttons['login'].routerLink}}"
       (click)="onButtonClick('login')">
      {{buttons['login'].label}}
    </a>
  </div>
</nav>


<router-outlet></router-outlet>
