.news-preview {
  width: 30rem;
  height: 20rem;
  padding-bottom: 0.6rem;
}

.news {
  padding: 0.6rem;
  margin: 0.7rem 0;
}

.news-title {
  padding-bottom: 0.4rem;
}

.news-description {
  font-size: 80%;
}
