<div>
  
  <div *ngIf="news?.type==='post'; else notPost" class="comments-block">
    <div class="comments-block">
      <span *ngIf="userId === null"
            class="hint border border-danger rounded-0">
        Авторизуйтесь, чтобы оставлять комментарии у постов
      </span>
      <div class="comments-input">
        <button (click)="onAddButtonClick()"
                [disabled]="userId === null || form.invalid"
                class="btn btn-outline-secondary">
          отправить
        </button>
        <input [formControl]="form" placeholder="Написать комментарий...">
      </div>
    </div>
    
    <div class="comments">
      <app-comment
        *ngFor="let comment of comments"
        [comment]="comment"
        class="test">
      </app-comment>
    </div>
  
  </div>
  
  <ng-template #notPost>
    <div class="d-flex justify-content-end">
      <a class="link-secondary link" href="{{news?.source}}" target="_blank">Обсудить новость</a>
    </div>
  </ng-template>

</div>
