<form class="container">
  <h1 class="header">Вход</h1>
  <div [formGroup]="form">
    <div class="form-group">
      <label for="login">Логин</label>
      <input class="form-control" formControlName="login" id="login" placeholder="логин" type="text">
      <div class="errors">
        <small *ngIf="login?.invalid && (login?.dirty || login?.touched) && login?.value === ''"
               class="text-danger error">
          Обязательное поле.
        </small>
        <small *ngIf="login?.errors?.['minlength']"
               class="text-danger error">
          Логин должен быть не менее {{login?.errors?.['minlength']?.['requiredLength']}} символов.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Пароль</label>
      <input class="form-control" formControlName="password" id="password" placeholder="введите пароль" type="password">
      <div class="errors">
        <small *ngIf="password?.invalid && (password?.dirty || password?.touched) && password?.value === ''"
               class="text-danger error">
          Обязательное поле.
        </small>
        <small *ngIf="password?.errors?.['minlength']"
               class="text-danger error">
          Пароль должен быть не менее {{password?.errors?.['minlength']?.['requiredLength']}} символов.
        </small>
      </div>
    </div>
  </div>
  <button (click)="onSubmitButtonClick($event)"
          [disabled]="form.invalid"
          class="btn btn-outline-secondary login-button">
    войти
  </button>
  
  <span class="registration-hint">Впервые тут?</span>
  <a class="link-primary create-account" routerLink="/register">Создать аккаунт</a>

</form>
