<div class="container">

  <form [formGroup]="form">

    <div class="form-group">
      <label for="title">Заголовок</label>
      <input class="form-control form-control-lg" id="title" formControlName="title" autocomplete="off">
    </div>

    <div class="form-group">
      <label for="description">Описание новости</label>
      <input class="form-control form-control-lg" id="description" formControlName="description" autocomplete="off">
    </div>

    <div class="form-group">
      <label for="content">Конетент</label>
      <textarea class="form-control" id="content" rows="5" formControlName="content" autocomplete="off"></textarea>
    </div>

    <div class="form-group">
      <label for="preview">Ссылка на картинку для превью</label>
      <input class="form-control form-control-lg" id="preview"
             formControlName="preview" autocomplete="off">
    </div>

    <button type="submit" class="btn btn-outline-secondary" [disabled]="form?.invalid"
            (click)="onSubmitButtonClick()">
      Добавить новость
    </button>

  </form>

</div>
