<div class="switcher">

  <div class="main">
    <button
      *ngFor="let currency of currencies"
      placement="top" ngbTooltip="{{currency.description}}" tooltipClass="currency-tooltip"
      (click)="onButtonClick(currency.name,'main')"
      [ngClass]="currency.selected ? 'btn btn-success' : 'btn btn-outline-secondary'">
      {{currency.name}}
    </button>
  </div>

  <div
    class="dropdown">
    <button
      class="btn btn-outline-secondary dropdown-toggle"
      (click)="onToggleButtonClick()">
    </button>
    <div class="dropdown-menu" #dropdownMenu>
          <span
            *ngFor="let currency of allCurrencies"
            placement="top" ngbTooltip="{{this.descriptions[currency]}}" tooltipClass="currency-tooltip"
            (click)="onButtonClick(currency,'hidden')"
            class="item">
            {{currency}}
          </span>
    </div>
  </div>

</div>
