<div class="switcher">
  
  <div class="main">
    <button
      (click)="onButtonClick(currencyButton.name,'main')"
      *ngFor="let currencyButton of currenciesButtons"
      [ngClass]="currencyButton.selected ? 'btn btn-success' : 'btn btn-outline-secondary'"
      [ngbTooltip]="currencyButton.description"
      placement="top"
      tooltipClass="currency-tooltip">
      {{currencyButton.name}}
    </button>
  </div>
  
  <div
    class="dropdown">
    <button
      (click)="onToggleButtonClick()"
      class="btn btn-outline-secondary dropdown-toggle">
    </button>
    <div #dropdownMenu class="dropdown-menu">
      <span
        (click)="onButtonClick(currency,'hidden')"
        *ngFor="let currency of currencies"
        [ngbTooltip]="descriptions.get(currency)" class="item"
        placement="top"
        tooltipClass="currency-tooltip">
        {{currency}}
      </span>
    </div>
  </div>

</div>
