* {
  font-size: 1.2rem;
}

.container {
  margin-top: 3rem;
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .form-group {
    label {
      padding-bottom: 0.8rem;
      font-weight: 500;
    }

    input {
      margin-bottom: 2rem;
      width: 18rem;
    }
  }

  .converter {
    display: flex;
    justify-content: space-between;

    .left, .right {
      width: 40%;
      display: flex;
      flex-direction: column;

      .additional {
        font-size: 70%;
        padding-top: 1rem;
      }
    }

    .center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20%;

      svg {
        width: 27%;
        fill: currentColor;
        cursor: pointer;
      }
    }
  }

  button {
    text-align: center;
  }
}

.header {
  text-align: center;
  margin-bottom: 4rem;
}

.converter-main {
  display: flex;
  flex-direction: column;

  .title {
    padding-bottom: 0.3rem;
    font-size: 80%;
  }

  .switcher {
    display: flex;

    .dropdown-toggle {
      width: 180%;
    }

    button {
      border-radius: 0;
    }

    .dropdown-menu.show {
      padding-left: 1.5rem;
      margin-top: 0.5rem;
      width: 40rem;
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(18, auto);
    }

    .item {
      font-size: 1rem;
      margin-right: 0.3rem;
      padding: 0.1rem;
      width: 3rem;
    }

    .item:hover {
      background-color: #f6f2f2;
      cursor: pointer;
    }
  }

  .input-box {
    height: 7rem;
    width: auto;
    margin-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    font-size: 200%;
    font-weight: bold;
  }
}

.currency-tooltip .tooltip-inner {
  background-color: whitesmoke;
  color: black;
  font-size: 100%;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
