<nav class="navbar navbar-expand-lg navbar-light bg-light layout">
  <div class="container-fluid">
    <a (click)="onButtonClick('converter')"
       class="navbar-brand mb-0 h1 title">
      Currency converter
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li *ngFor="let id of mainButtonsId"
            class="nav-item">
          <a (click)="onButtonClick(id)"
             [ngClass]="buttons.get(id)?.selected ? 'active' : ''"
             class="nav-link">
            {{buttons.get(id)?.label}}
          </a>
        </li>
      </ul>
    </div>
    <a (click)="onButtonClick('logout')"
       [ngClass]="buttons.get('logout')?.selected ? 'link-dark' : 'link-secondary'"
       class="nav-link mb-0 end">
      {{buttons.get('logout')?.label}}
    </a>
  </div>
</nav>

<router-outlet></router-outlet>
