<nav class="navbar navbar-expand-lg navbar-light bg-light layout">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 title">Currency converter</span>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/map">Карта</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/news">Новости</a>
        </li>
      </ul>
    </div>
    <a class="nav-link link-secondary mb-0 end" routerLink="/login">Войти</a>
  </div>
</nav>


<router-outlet></router-outlet>
