<app-breadcrumbs></app-breadcrumbs>

<div class="container">
  
  <div #menu class="border border-secondary menu">
    <span
      (click)="onMenuButtonClick($event.target, newsMenuItem.filter)"
      *ngFor="let newsMenuItem of newsService.newsMenuItems; let i = index;"
      [ngClass]="i === 0 ? 'selected' : ''"
    >
      {{newsMenuItem.label}}
    </span>
  </div>
  
  <div appInfinityScroll class="news-container">
    <app-news
      (click)="onNewsClick(news.id)"
      *ngFor="let news of newsService.getNews(filter)"
      [commentsCount]="news.commentsCount"
      [date]="news.postCreationDate"
      [description]="news.description"
      [imgUrl]="news.preview"
      [title]="news.title"
    >
    </app-news>
  </div>

</div>
