<div class="button-container">
  <span class="title">{{title}}</span>
  <div class="switcher">
    <button class="btn btn-success ">RUB</button>
    <button class="btn btn-outline-secondary">USD</button>
    <button class="btn btn-outline-secondary">EUR</button>
    <button class="btn btn-outline-secondary">GBP</button>
  </div>
  <input
    (focus)="isInputSelected = true"
    (focusout)="isInputSelected = false"
    [formControl]="cash"
    [value]="isInputSelected ? cash.value : cash.value | numericSeparator:3"
    class="input-box" maxlength="13" type="text">
</div>
