<div class="button-container">
  <span class="title">{{title}}</span>
  <div class="switcher" #switcher>
    <button
      *ngFor="let currency of currencies; let i = index"
      (click)="onButtonClick($event.target, currency)"
      [ngClass]=" i === 0 ? 'btn btn-success' : 'btn btn-outline-secondary'">
      {{currency}}
    </button>
  </div>
  <input
    (focus)="isInputSelected = true"
    (focusout)="isInputSelected = false"
    [formControl]="cash"
    [value]="isInputSelected ? cash.value : cash.value | numericSeparator:3"
    class="input-box" maxlength="13" type="text">
</div>
