<div class="converter-main">

  <span class="title">{{title}}</span>

  <app-converter-top-panel
    [allCurrencies]="allCurrencies"
    [currencySubject]="currencySubject"
    [currentCurrency]="currentCurrency"
    [mainCurrencies]="mainCurrencies">
  </app-converter-top-panel>

  <input
    (focus)="isInputSelected = true"
    (focusout)="isInputSelected = false"
    [formControl]="cashInput"
    [value]="isInputSelected ? cashInput.value : cashInput.value | numericSeparator:3"
    class="input-box" maxlength="13" type="text">
</div>
