.news-preview {
  width: 30rem;
  height: 20rem;
  padding-bottom: 0.6rem;
}

.bi-calendar {
  margin-right: 0.4rem;
}

.news {
  padding: 0.6rem;
  margin: 2rem 0;
}

.news-title {
  padding-bottom: 0.4rem;
}

.upper {
  padding-bottom: 0.8rem;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
}

