<div>
  <div class="main">
    
    <div class="converters">
      <h3 class="converters-title">Наши конвертеры</h3>
      <span
        (click)="onConverterClick([converter.latitude, converter.longitude])"
        *ngFor="let converter of converters"
        class="border title">
        {{converter.title}}
      </span>
    </div>
    
    <div class="map">
      <ya-map
        (ready)="onMapReady($event)" [center]="mapInitialCoordinates"
        [zoom]="2"
      >
        <ya-object-manager
          (ready)="onObjectManagerReady($event)">
        </ya-object-manager>
      
      </ya-map>
    </div>
  
  </div>
</div>
