<div class="switcher">

  <div class="main">
    <button
      tooltip
      *ngFor="let currency of currencies"
      [tooltipText]="currency.description"
      (click)="onButtonClick(currency.name)"
      [ngClass]="currency.selected ? 'btn btn-success' : 'btn btn-outline-secondary'">
      {{currency.name}}
    </button>
  </div>

  <div
    class="dropdown">
    <button
      class="btn btn-outline-secondary dropdown-toggle"
      (click)="onToggleButtonClick()">
    </button>
    <div class="dropdown-menu" #dropdownMenu>
          <span
            *ngFor="let currency of allCurrencies"
            (click)="onButtonClick(currency)"
            class="item">
            {{currency}}
          </span>
    </div>
  </div>

</div>
