<div class="converter-main">
  
  <span class="title">{{title}}</span>
  
  <app-converter-buttons
    (dropdownMenu)="dropdownMenu.emit($event)"
    [currencies]="currencies"
    [currencyDescriptions]="currencyDescription"
    [position]="position">
  </app-converter-buttons>
  
  <input
    (focus)="isInputSelected = true"
    (focusout)="isInputSelected = false"
    [formControl]="formControl"
    [value]="isInputSelected ? formControl.value : formControl.value | numericSeparator:3"
    class="input-box" maxlength="13" type="text"
  >

</div>
