<div class="container">

  <div class="border border-secondary menu" #menu>
    <span
      *ngFor="let newsMenuItem of newsService.newsMenuItems; let i = index;"
      [ngClass]="i === 0 ? 'selected' : ''"
      (click)="onMenuButtonClick($event.target, newsMenuItem.filter)"
    >
      {{newsMenuItem.label}}
    </span>
  </div>

  <div class="news-container" infinityScroll>
    <news
      *ngFor="let news of newsService.getNews(filter)"
      [title]="news.title"
      [description]="news.description"
      [imgUrl]="news.preview"
      [date]="news.postCreationDate"
      (click)="onNewsClick(news.id)"
    >
    </news>
  </div>

</div>
